*.json
*.cmake
*.a
*.log
*.make
*.mark
*.out
*.out
*.d
*.o
*.internal
link.txt
*.bin
*.ts
*.marks
*.x
*.check_cache
build/CMakeCache.txt
build/Makefile
build/matrix.test
build/matrix.unit
build/CMakeFiles/Makefile2
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
